<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element"> 
                    <span>
                        <img alt="image" class="img-circle" src="img/profile_small.jpg" />
                    </span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs"> <strong class="font-bold">David Williams</strong></span>
                        </span>
                    </a>
                </div>
            </li>
            <li>
                <a href="index.html"><i class="fa fa-th-large"></i> <span class="nav-label">Dashboards</span></a>
                <!-- <ul class="nav nav-second-level collapse">
                    <li><a href="index.html">Dashboard v.1</a></li>
                </ul> -->
            </li>
            <li>
                <a href="index.html"><i class="fa fa-th-large"></i> <span class="nav-label">Subastas</span></a>
                <!-- <ul class="nav nav-second-level collapse">
                    <li><a href="index.html">Ver subastas</a></li>
                </ul>
                <ul class="nav nav-second-level collapse">
                    <li><a href="index.html">Subastar</a></li>
                </ul> -->
            </li>
            <li>
                <a href="index.html"><i class="fa fa-th-large"></i> <span class="nav-label">Pasajes</span></a>
                <!-- <ul class="nav nav-second-level collapse">
                    <li><a href="index.html">Dashboard v.1</a></li>
                </ul> -->
            </li>
            <li>
                <a href="index.html"><i class="fa fa-th-large"></i> <span class="nav-label">Tu bus</span></a>
                <!-- <ul class="nav nav-second-level collapse">
                    <li><a href="index.html">Dashboard v.1</a></li>
                </ul> -->
            </li>
            <!-- <li class="special_link"> -->
                <!-- <a href="package.html"><i class="fa fa-database"></i> <span class="nav-label">Package</span></a> -->
            <!-- </li> -->
        </ul>

    </div>
</nav>